/* @font-face {
  font-family: 'ImpactLocal';
  src: url('../font/impact/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* Reset cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body + HTML */
html, body {
  height: 100%;
  background-color: #000;
}

/* Không cho chọn chữ */
body, h1 {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
}

/* Căn giữa nội dung và cách dòng */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

.content{
  margin-top: 2vh;
}

/* H1: font Impact, màu cam, responsive size */

 h1.old {
  font-family: sans-serif;
  color: #f5d622;
  font-weight: 900;
  text-align: center;
  line-height: 1; /* Khoảng cách giữa 2 hàng chữ */
  transform: scaleY(1); /* ✅ làm chữ cao hơn */
  transform: scaleX(1); /* ✅ làm chữ dày hơn */
  letter-spacing: 0em; /* hoặc px nếu bạn muốn cố định */
  display: inline-block;
  font-size: clamp(32px, 14vw, 220px); /* chỉnh cỡ chữ h1 - clamp: min, cỡ chữ theo chiều rộng màn hình (14%), max */
  position: relative; /* hoặc absolute nếu bạn cần đặt cụ thể */
  z-index: 1;          /* cao hơn canvas */
} 

.autofit {
  font-family:  sans-serif;
  color: #f5d622;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}

#domain1, #domain2{
  color: #f5d622;
  font-weight: 900;
  font-family: sans-serif;
  position: relative;
  text-align: center;
  font-size: clamp(32px, 14vw, 220px);
  line-height: 0.9;
}

#domain1{
  margin-top: 30px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* thấp nhất */
  pointer-events: none; /* không chặn tương tác */
}



/* Xử lý đồng hồ */

#clock-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  pointer-events: none;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
}

#clock-line {
  display: inline-flex;
  align-items: center;
  max-width: 95vw;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 6.5rem;
  color: #ffffff;
  line-height: 1.2;
}

/* khoảng cách tương đương 1 tab */
.clock-gap {
  width: 1.5em;   /* ~ 1 tab thị giác */
  flex-shrink: 0;
}
.vpn-hint{
  margin-bottom: 2vh;
  position: relative;
  width: 95vw; 
  text-align: center;
  align-items: center;    
  white-space: nowrap;
  gap: 0.35em;              /* khoảng cách cũng theo font-size */
  line-height: 1;           /* quan trọng: line-height gọn */
  color: #fff;
  font-weight: 900;
  font-family: sans-serif;
  /* nếu bạn muốn responsive: */
  font-size: clamp(110px, 5.1vw, 130px);
  
}
.vpn-1111{
  color: #FF2525;
  border: 4px solid #fff;
  font-size: clamp(130px, 5.2vw, 150px);
}
