@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-size--: 2rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ và Edge */
  user-select: none; /* Tiêu chuẩn */
}

body {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", Helvetica, sans-serif;
}

ul,
ol {
  list-style-type: none;
}

.frame {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */

/* Content */
.content {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #f8f8f8;
}

.listphishing {
  text-shadow: -6px 1px 10px rgba(0, 0, 0, 0.4);
  mix-blend-mode: multiply;
}

.header {
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    rgba(237, 235, 229, 1) 1%,
    rgba(219, 210, 152, 1) 10%,
    rgba(150, 105, 61, 1) 30%,
    rgba(66, 36, 29, 1) 76%,
    rgba(52, 22, 30, 1) 80%,
    rgba(115, 82, 99, 1) 87%,
    rgba(170, 156, 164, 1)
  );
  padding: 0 15px 5px 15px;

  display: inline-flex;
  margin-bottom: calc(1 * var(--font-size--));
  box-shadow: 0px 3px 4px 0 #251a0b;
}

.title {
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(237, 235, 229, 1) 1%,
    rgba(219, 210, 152, 1) 10%,
    rgba(150, 105, 61, 1) 30%,
    rgba(66, 36, 29, 1) 80%,
    rgba(52, 22, 30, 1) 85%,
    rgba(115, 82, 99, 1) 97%,
    rgba(170, 156, 164, 1)
  );

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 0px 7px 0px #805c26;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: calc(0.5 * var(--font-size--)) calc(0.8 * var(--font-size--));
}

.title h3 {
  margin: 0;
  font-size: var(--font-size--);
  font-weight: 800;
  white-space: nowrap;
  line-height: 1.4;

  background-image: linear-gradient(to bottom, #fff2c9, #ffbd20);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.9));
}

.fab-warning {
  width: calc(2.5 * var(--font-size--));
  height: calc(2.5 * var(--font-size--));
  flex: 0 0 auto;
}

/* Hiệu ứng animation */

.tada {
  animation-name: tada;
}

.animated {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  5%,
  10% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  15%,
  25%,
  35%,
  45% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  20%,
  30%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}
